@charset "UTF-8";
@font-face {
    font-family: 'Modern Antiqua' ;
    src: url('../fontes/modern_antiqua.zip');
}
*{
    margin: 0px;
    padding: 0px;
}

:root{
    --fontdestaque:'Modern Antiqua';
}

body{
    background-image: linear-gradient(70deg , rgb(0, 0, 0),rgba(0, 0, 0, 0.862),rgba(0, 0, 0, 0.807)) ;
}

header{
    background-color: rgb(72, 72, 68);
    height: 100px;
}

header > p {
    text-align: center;
}

#imglogin{
    position: relative;
}

 a > img {
    position: absolute;
    left: 97%;
    top: 1%;
    border: 3px solid black;
    border-radius: 50%;
}

p {
    position: absolute;
    left: 93%;
    top: 2%;
    font-weight: bolder;
    font-size: 1.2em;
}

nav{
    
   
}

nav > a {
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: 1em; 
}

nav > a:hover{
    background-color: black;
    color: white;
    border-radius: 3px;
    transition-duration: 0.8s;
}

header >h1{
    font-family: var(--fontdestaque);
    font-size: 3em;
    text-align: center;
    padding: 10px;
}

main{
    background-image: url('../imagem/imgfundo.png');
    background-attachment: fixed;
    background-position: center center;
}


article{
    display: inline-block;
    position: relative;
    background-color: rgba(255, 255, 255, 0.496);
    border: 1px solid gray;
    width: 50%;
    height: 400px;
    margin: -2px;
}

article > img{
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    border-radius: 3px;
}



